<ion-tabs>

    <ion-tab-bar class="tabApp" slot="bottom">
        <ion-tab-button class="tabApp" tab="terco">
            <ion-icon name="heart"></ion-icon>
            <ion-label>Terços</ion-label>
        </ion-tab-button>
        <ion-tab-button class="tabApp" tab="oracao">
            <ion-icon name="list"></ion-icon>
            <ion-label>Orações</ion-label>
        </ion-tab-button>
        <ion-tab-button class="tabApp" tab="missa">
            <ion-icon name="book"></ion-icon>
            <ion-label>Missas</ion-label>
        </ion-tab-button>
        <ion-tab-button class="tabApp" (click)="irHome()">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>