<ion-content padding class="contentTerco">

    <p class="pTitulo">Terços em Latim</p>

    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let aux of listTercos">
                <div class="divTerco" (click)="abrirTerco(aux)">
                    <img class="imagem" [src]="aux.imagem">
                    <p class="pNome">
                        {{aux.nomeSimplificado}}
                    </p>
                    <p class="pDescricao">
                        {{aux.descricao}}
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>