.buttonOk {
    --background: var(--background-claro);
    width: 99%;
    font-weight: bolder;
}

.toggleOpcao {
    --background: var(--background-claro);
    --handle-background-checked: var(--background-claro);
}