<ion-list>
    <ion-item>
        <ion-label>Tradução</ion-label>
        <ion-toggle class="toggleOpcao" [(ngModel)]="traducao"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>Áudio da Oração</ion-label>
        <ion-toggle class="toggleOpcao" [(ngModel)]="audio"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="terco">
        <ion-label>Reproduzir Aut.</ion-label>
        <ion-toggle class="toggleOpcao" [disabled]="!audio" [(ngModel)]="reproduzir"></ion-toggle>
    </ion-item>
    <ion-item (click)="sair()" *ngIf="terco">
        <ion-label>Sair do Terço</ion-label>
    </ion-item>
</ion-list>
<ion-button class="buttonOk" (click)="ok()">Ok</ion-button>