<ion-header>

    <ion-toolbar class="barra">
        <ion-title class="titulo">
            <p class="pTituloTerco">{{terco?.nomeLatim}}</p>
            <p class="pSubtituloTerco">{{terco?.nome}}</p>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="abrirPopover($event)">
                <ion-icon slot="icon-only" style="margin-right: 10px; color: white;" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content padding class="contentOracao">
    <ion-grid class="divContador" *ngIf="contadorAveMaria != 0">
        <ion-row>
            <ion-col *ngIf="contadorMisterio != 0">
                {{contadorMisterio}}º Mistério
            </ion-col>
            <ion-col>
                {{contadorAveMaria}}ª Ave Mária
            </ion-col>
        </ion-row>
    </ion-grid>


    <div class="divContent">
        <div>
            <p class="pTitulo">{{oracao?.nomeLatim}}</p>
            <p class="pSubtitulo">{{oracao?.nome}}</p>
        </div>

        <div *ngIf="misterioPt">
            <p class="pTitulo">{{contadorMisterio}}º Mistério</p>
        </div>

        <div class="divOracao">
            <p class="pOracao" [innerHTML]="oracao?.oracaoLatim"></p>
        </div>

        <p *ngIf="misterioPt || traducao" class="pTraducao">Tradução</p>
        <div class="divOracao" style="margin-top: 0" *ngIf="misterioPt || traducao">
            <p class="pOracao" [innerHTML]="misterioPt ? misterioPt : oracao?.oracao"></p>
        </div>
    </div>

</ion-content>

<ion-footer>
    <div *ngIf="audio">
        <ion-item style="--background: var(--background-escuro);">
            <ion-icon class="iconePlayer" slot="start" name="play" *ngIf="!play" (click)="ativarPlay()"></ion-icon>
            <ion-icon class="iconePlayer" slot="start" name="pause" *ngIf="play" (click)="ativarPlay()"></ion-icon>
            <ion-range min="0" [max]="duracao" (ngModelChange)="avancarMusica()" [(ngModel)]="tempoMusica"
                class="rangePlayer"></ion-range>
        </ion-item>
    </div>
    <ion-toolbar style="--background: var(--background-escuro);">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button class="buttonTerco" (click)="voltar()">Voltar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="buttonTerco" (click)="avancar()">Avançar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>