<ion-content padding class="contentTerco">

    <p class="pTitulo">Agradecimentos</p>

    <div class="divVoltar" (click)="voltar()">
        <p class="pVoltar">Voltar</p>
        <ion-icon style="float: right; margin-right: 5px;" name="ios-arrow-dropleft-circle"></ion-icon>
    </div>

    <div class="divDoacao">
        <p class="pTexto">Gostaria de agradecer aos Sites a seguir, pois foram meu ponto de referência para a produção
            do conteúdo e do próprio APP.
        </p>
    </div>

    <div class="divDoacao" style="margin-top: 20px;">
        <p class="pTexto">
            Icones:
            <br>
            Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
                3.0
                BY</a>
        </p>
        <p>
            Sites que retirei o Terço em Latim:
            <br>
            <a href="https://pt.aleteia.org/2018/06/18/como-rezar-o-terco-um-guia-ilustrado/">Aleteia</a>
            <br>
            <a href="http://ars-the.blogspot.com/2009/06/rosario-em-latim.html">Associação Redemptionis Sacramentum</a>
        </p>
        <p>
            Inspiração para o Design do APP:
            <br>
            <a href="https://www.behance.net/gallery/75257833/Housi-App-smart-home-concept/">Paweł Grela</a>
        </p>
    </div>
</ion-content>