<ion-content class="contentOracao">
    <ion-grid class="gridBotoes">
        <ion-row style="justify-content: center;">
            <ion-button class="bottonMenu" (click)="abrirPagina('tab')">Rezar</ion-button>
        </ion-row>
        <!-- <ion-row style="justify-content: center;">
            <ion-button class="bottonMenu" (click)="abrirPagina('contate')">Contate-nos</ion-button>
        </ion-row>
        <ion-row style="justify-content: center;">
            <ion-button class="bottonMenu" (click)="abrirPagina('doe')">Doe!</ion-button>
        </ion-row> -->
    </ion-grid>
</ion-content>